/* Global */

* {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/* Chats Page */

h2{
  color: white;
}

h1{
  font-family: 'Poppins', sans-serif;
  position: relative;
  top:80px;
  left:15px;
  font-size:30px;
  color: black;
}

.chats-page {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.nav-bar {
  width: 100%;
  height: 66px;
  /* background-color: #002766; */
  background: linear-gradient(to right,rgba(223,48,100,.9) 0,rgba(200,55,111,.9) 25%,rgba(147,72,133,.9) 51%,rgba(96,86,153,.9) 76%,rgba(61,99,169,.9) 100%);

}

.logo-tab {
  position: absolute;
  left: 22px;
  top: 12px;
  font-size: 32px;
  font-weight: 700;
  color: white;
}

.logout-tab {
  position: absolute;
  top: 22px;
  right: 22px;
  color: white;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* Login Page */

#login-page {
  /* background: linear-gradient(to bottom,rgba(223,48,100,.9) 0,rgba(200,55,111,.9) 25%,rgba(147,72,133,.9) 51%,rgba(96,86,153,.9) 76%,rgba(61,99,169,.9) 100%);  */
  position: absolute;

  background: #fbc2eb;
  background: linear-gradient(to right, rgba(251, 194, 235, 0.5), rgba(166, 193, 238, 0.5));

  /* background: linear-gradient(to right, rgba(161, 140, 209, 0.5), rgba(251, 194, 235, 0.5)); */

  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

#login-card {
  position: fixed;
  top: calc(50vh - 144px);
  left: calc(50vw - 210px);
  padding-top: 36px;
  padding-bottom: 66px;
  width: 450px;
  text-align: center;
  /* background-color:#0F044C; */
  /* background-color: black; */
  border-radius: 22px;
  background-color: #002766;
  
}

.login-button {
  cursor: pointer;
  color: white;
  padding: 12px;
  border-radius: 8px;
  display: inline-block;
}

.facebook {
  background-color: #3b5998;
}

.google {
  background-color: #4285f4;
  color: white;
}

#loading-container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: rgb(255, 255, 255, 0.22);
}

#loading-icon {
  font-size: 66px;
  position: relative;
  left: calc(50vw - 33px);
  top: calc(50vh - 22px);
}

a{
  margin-right: 80px;
  text-decoration: none;
}
